body {
    color: black;
    background-color: white;
    font-size: large;
}

h1 {
    font-size: xx-large;

}

h2 {
    font-size: x-large;
}

a {
    color: blue;
}

section {

}

footer {
    font-size: x-small;
    text-align: end;
}
